body{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.App{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor-principal{
  background-color: whitesmoke;
  height: 200px;
  width: 500px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 25px;
  margin-top: 50px;
}

.button{
  margin: 20px;
}

.input{
  margin: 20px;
}
